:root {
  --green: #32a536;
  --blue: #2196f3;
  --red: #f44336;
  --yellow: #ffee00;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  font-size: 2rem;
  color: var(--green);
  padding: 1rem;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  color: #333;
  display: flex;
  align-items: center;
  flex-direction: column;
}








.task {
  background: #ffffff;
  width: 100%;
  max-width: 70rem;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  margin-top: 4rem;
  overflow: hidden;
}

.task__header {
  padding: 2rem 2rem 1rem 2rem;
  border-bottom: 1px solid black;
}

.task__title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}

.task__form {
  display: flex;
  gap: 1rem;
  align-items: start;
}
.task__form >div{
   flex: 1; 
}
.task__input {
  width: 100%;
  height: 3rem;
  padding-left: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-size: large;
  outline: none;
}
.task__err-name{
  color: var(--red);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  
}

.task__btn {
  height: 3rem;
  padding: 0 1.5rem;
  font-size: large;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.task__btn--add {
  background: var(--blue);
  color: white;
}

.task__btn--add:hover {
  background: #1b5996;
}

.task__list {
  list-style: none;
  min-height: 15rem;
  overflow: auto;
  max-height: 35rem;
}

.task__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.task__checkbox {
  transform: scale(2.5);
}

.task__name {
  flex: 1;
  font-size: x-large;
  overflow: auto;
  margin: 0 2rem;
  max-height: 6rem;
  white-space: pre-wrap;
}

.task__item.completed .task__name {
  color: gray;
  font-style: italic;
}

.task__actions {
  display: flex;
  gap: 1rem;
}

.task__btn--edit {
  background: var(--green);
  color: white;
}

.task__btn--edit:hover {
  background: #2d7230;
}

.task__btn--delete {
  background: var(--red);
  color: white;
}

.task__btn--delete:hover {
  background: #ac2626;
}

.task__footer {
  padding: 1rem 2rem;
  background: rgb(196, 195, 195);
  font-size: x-large;
  text-align: right;
}

#pending-count {
  color: var(--yellow);
}
#done-count {
  color: var(--green) ;
}

.task__item--blank {
  padding-top: 4rem;
  font-size: larger;
  text-align: center;
}
.task__item:hover {
  background-color: rgb(247, 247, 247);
}









.modal-edit-task {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.459);
  height: 100vh;
  width: 100vw;
  animation: fade-in 0.3s linear;
}

.edit-task__form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 1rem 2rem;
  background-color: white;
  border-radius: 12px;
  min-width: 40rem;
}
.modal-edit-task.active {
  display: flex;
}
.edit-task__input {
  padding: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  margin-top: 2px;
}
.edit-task__title {
  font-size: x-large;
  margin-bottom: 3rem;
  text-align: center;
}
.edit-task__actions {
  margin-top: 3rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.edit-task__btn {
  color: white;
  border: none;
  border-radius: 6px;
  font-size: larger;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.edit-task__btn--save {
  background-color: var(--green);
}
.edit-task__btn--cancel {
  background-color: var(--red);
}
.edit-task__btn--save:hover {
  background: #2d7230;
}
.edit-task__btn--cancel:hover {
  background: #ac2626;
}
.edit-task__btn--save:disabled {
  background: rgb(196, 196, 196)  ;
  cursor: not-allowed;
}









.popup-comfirm{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.459);
  height: 100vh;
  width: 100vw;
  animation: fade-in 0.3s linear;
}

.popup-comfirm.active{
  display: flex;
}

.popup-comfirm__content{
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 1rem 2rem;
  background-color: white;
  border-radius: 12px;
  min-width: 40rem;
}

.popup-comfirm__title{
  font-size: x-large;
  text-transform: uppercase;
}

.popup-comfirm__mess{
  text-align: center;
  margin-top: 2rem;
  font-size: large;
}
.popup-comfirm__actions{
  margin-top: 4rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.popup-comfirm__btn{
    color: white;
    border: none;
    border-radius: 6px;
    font-size: larger;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.popup-comfirm__btn--agree{
  background-color: var(--red);
}

.popup-comfirm__btn--agree:hover{
  background-color: #ac2626;
}
.popup-comfirm__btn--cancel {
  background-color: var(--green);
}

.popup-comfirm__btn--cancel:hover {
  background: #2d7230;
}



